.header {
  .container {
    position: relative;
  }

  .navigation {
    position: absolute;
    left: -37px;
    display: flex;
    padding-top: 37px;
  }

  li {
    display: inline;
  }


  a {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.05em;

  }

  .logo {
    margin-right: 3px;

    a {
      &:hover {
        background-color: transparent;
      }
    }
  }

  .nav {
    display: flex;
    padding-bottom: 4px;
  }

  .nav-items {
    padding-top: 22px;
    background-color: rgba(51, 51, 51, 0.9);
    margin-right: 3px;

    a {
      padding: 23px 19.5px 20px;

    }
  }

  .hamburger {
    display: none;
  }

  .small-img {
    display: none;
  }

  @media screen and (max-width: 1100px) {
    .small-img {
      display: block;
      transform: translateY(2%);
    }

    .big-img {
      display: none;
    }

    .navigation {
      left: 37px;
    }

    .nav {
      padding-bottom: 0px;
      margin-bottom: -2px;
    }

    .hamburger {
      display: none;
    }
  }

  @include breakpoint (tablet) {
    .navigation {
      width: 100%;
      position: relative;
      left: 0;
      display: flex;
      justify-content: space-between;
    }

    .nav-items {
      display: none;
      position: absolute;
      width: 100%;
      left: 0;
      top: 100px;
      z-index: 5;
    }

    li {
      display: block;
      padding-bottom: 32px;
    }

    .small-img {
      display: none;
    }

    .big-img {
      display: block;
    }

    .hamburger {
      display: block;
    }

    .nav {
      position: static;
    }

    .s-play {
      font-size: 10px;
      float: right;
      padding-right: 12px;
    }
  }

  @include breakpoint (phone) {
    .nav-items {
      display: none;
      position: absolute;
      width: 100%;
      left: 0;
      top: 90px;
      z-index: 5;
    }

    .small-img {
      display: block;
      background-color: $white;
      width: 80%;
    }

    .big-img {
      display: none;
    }

    .hamburger {
      display: block;
    }

    .navigation {
      width: 100%;
      position: relative;
      left: 0;
      display: flex;
      justify-content: space-between;
    }

    .nav {
      position: static;
    }

    .s-play {
      font-size: 10px;
      float: right;
      padding-right: 12px;
    }

    li {
      display: block;
      padding-bottom: 30px;
    }
  }
}
